<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.mapper.OrderMapper">
    
    <resultMap id="BaseResultMap" type="com.mall.entity.Order">
        <id column="id" property="id"/>
        <result column="order_no" property="orderNo"/>
        <result column="user_id" property="userId"/>
        <result column="total_amount" property="totalAmount"/>
        <result column="pay_amount" property="payAmount"/>
        <result column="status" property="status"/>
        <result column="pay_type" property="payType"/>
        <result column="pay_time" property="payTime"/>
        <result column="delivery_time" property="deliveryTime"/>
        <result column="receive_time" property="receiveTime"/>
        <result column="close_time" property="closeTime"/>
        <result column="remark" property="remark"/>
        <result column="receiver_name" property="receiverName"/>
        <result column="receiver_phone" property="receiverPhone"/>
        <result column="receiver_address" property="receiverAddress"/>
        <result column="logistics_no" property="logisticsNo"/>
        <result column="logistics_company" property="logisticsCompany"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="username" property="username"/>
    </resultMap>
    
    <sql id="Base_Column_List">
        o.id, o.order_no, o.user_id, o.total_amount, o.pay_amount, o.status, o.pay_type,
        o.pay_time, o.delivery_time, o.receive_time, o.close_time, o.remark,
        o.receiver_name, o.receiver_phone, o.receiver_address, o.logistics_no, o.logistics_company,
        o.create_time, o.update_time
    </sql>
    
    <select id="selectById" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>, u.username
        FROM `order` o
        LEFT JOIN sys_user u ON o.user_id = u.id
        WHERE o.id = #{id}
    </select>
    
    <select id="selectByOrderNo" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>, u.username
        FROM `order` o
        LEFT JOIN sys_user u ON o.user_id = u.id
        WHERE o.order_no = #{orderNo}
    </select>
    
    <select id="selectList" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>, u.username
        FROM `order` o
        LEFT JOIN sys_user u ON o.user_id = u.id
        <where>
            <if test="orderNo != null and orderNo != ''">
                AND o.order_no LIKE CONCAT('%', #{orderNo}, '%')
            </if>
            <if test="status != null">
                AND o.status = #{status}
            </if>
            <if test="userId != null">
                AND o.user_id = #{userId}
            </if>
        </where>
        ORDER BY o.create_time DESC
    </select>
    
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `order` (order_no, user_id, total_amount, pay_amount, status, pay_type,
                           pay_time, delivery_time, receive_time, close_time, remark,
                           receiver_name, receiver_phone, receiver_address, logistics_no, logistics_company)
        VALUES (#{orderNo}, #{userId}, #{totalAmount}, #{payAmount}, #{status}, #{payType},
                #{payTime}, #{deliveryTime}, #{receiveTime}, #{closeTime}, #{remark},
                #{receiverName}, #{receiverPhone}, #{receiverAddress}, #{logisticsNo}, #{logisticsCompany})
    </insert>
    
    <update id="update">
        UPDATE `order`
        <set>
            <if test="totalAmount != null">total_amount = #{totalAmount},</if>
            <if test="payAmount != null">pay_amount = #{payAmount},</if>
            <if test="status != null">status = #{status},</if>
            <if test="payType != null">pay_type = #{payType},</if>
            <if test="payTime != null">pay_time = #{payTime},</if>
            <if test="deliveryTime != null">delivery_time = #{deliveryTime},</if>
            <if test="receiveTime != null">receive_time = #{receiveTime},</if>
            <if test="closeTime != null">close_time = #{closeTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="receiverName != null">receiver_name = #{receiverName},</if>
            <if test="receiverPhone != null">receiver_phone = #{receiverPhone},</if>
            <if test="receiverAddress != null">receiver_address = #{receiverAddress},</if>
            <if test="logisticsNo != null">logistics_no = #{logisticsNo},</if>
            <if test="logisticsCompany != null">logistics_company = #{logisticsCompany},</if>
        </set>
        WHERE id = #{id}
    </update>
    
    <update id="updateStatus">
        UPDATE `order` SET status = #{status} WHERE id = #{id}
    </update>
    
    <update id="updateLogistics">
        UPDATE `order` 
        SET logistics_no = #{logisticsNo}, logistics_company = #{logisticsCompany}
        WHERE id = #{id}
    </update>
    
    <update id="closeOrder">
        UPDATE `order` 
        SET status = 4, close_time = NOW()
        WHERE id = #{id} AND status IN (0, 1)
    </update>
    
    <select id="count" resultType="long">
        SELECT COUNT(*) FROM `order`
    </select>
    
    <select id="countByStatus" resultType="long">
        SELECT COUNT(*) FROM `order` WHERE status = #{status}
    </select>
</mapper>
